<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header>
    <div class="container">
        <nav>
            <div class="logo">LOGO</div>

            <ul>
                <li><a href="index.html">О нас</a></li>
                <li><a href="products.html">Меню</a></li>
                <li><a href="login.html">Вход</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="container">

    <h1 class="catalog-title">Меню</h1>

    <div class="catalog-section">

        <h2>Пироги</h2>

        <div class="cards">

            <div class="card">
                <img src="images/pies/pie1.png" alt="pie">
                <h3>Штрейзелькухен</h3>
            </div>

            <div class="card">
                <img src="images/pies/pie2.png" alt="cake">
                <h3>Чизкейк</h3>
            </div>

            <div class="card">
                <img src="images/pies/pie3.png" alt="cake">
                <h3>Клубничный пирог</h3>
            </div>

            <div class="card">
                <img src="images/pies/pie4.png" alt="cake">
                <h3>Сливовый пирог</h3>
            </div>

            <div class="card">
                <img src="images/pies/pie5.png" alt="cake">
                <h3>Немецкий чизкейк</h3>
            </div>

            <div class="card">
                <img src="images/pies/pie6.png" alt="cake">
                <h3>Биненштих</h3>
            </div>

            <div class="card">
                <img src="images/pies/pie7.png" alt="cake">
                <h3>Мраморный пирог</h3>
            </div>

            <div class="card">
                <img src="images/pies/pie8.png" alt="cake">
                <h3>Пирог-утопленник</h3>
            </div>

            <div class="card">
                <img src="images/pies/pie9.png" alt="cake">
                <h3>Шоколадный пирог</h3>
            </div>
        </div>
    </div>

    <div class="catalog-section">

        <h2>Десерты и выпечка</h2>

        <div class="cards">

            <div class="card">
                <img src="images/desserts/des1.png" alt="pie">
                <h3>Штрудель</h3>
            </div>

            <div class="card">
                <img src="images/desserts/des2.png" alt="cake">
                <h3>Мороженое-спагетти</h3>
            </div>

            <div class="card">
                <img src="images/desserts/des3.png" alt="cake">
                <h3>Крапфен</h3>
            </div>

            <div class="card">
                <img src="images/desserts/des4.png" alt="cake">
                <h3>Торт "Дунайские волны"</h3>
            </div>

            <div class="card">
                <img src="images/desserts/des5.png" alt="cake">
                <h3>Шоколадный пуддинг</h3>
            </div>

            <div class="card">
                <img src="images/desserts/des6.png" alt="cake">
                <h3>Шоколадные пряники</h3>
            </div>

            <div class="card">
                <img src="images/desserts/des7.png" alt="cake">
                <h3>Дрезденский штоллен</h3>
            </div>

            <div class="card">
                <img src="images/desserts/des8.png" alt="cake">
                <h3>Песочное печенье</h3>
            </div>

            <div class="card">
                <img src="images/desserts/des9.png" alt="cake">
                <h3>Коричные звёздочки</h3>
            </div>
        </div>
    </div>
    
    <div class="catalog-section">

        <h2>Хлеб</h2>

        <div class="cards">

            <div class="card">
                <img src="images/bread/bread1.png" alt="pie">
                <h3>Яблочный хлеб</h3>
            </div>

            <div class="card">
                <img src="images/bread/bread2.png" alt="cake">
                <h3>Хефецопф</h3>
            </div>

            <div class="card">
                <img src="images/bread/bread3.png" alt="cake">
                <h3>Брётхен</h3>
            </div>

            <div class="card">
                <img src="images/bread/bread4.png" alt="cake">
                <h3>Булочка с изюмом</h3>
            </div>

            <div class="card">
                <img src="images/bread/bread5.png" alt="cake">
                <h3>Баварский хлеб</h3>
            </div>
        </div>
    </div>

    <div class="catalog-section">

        <h2>Напитки</h2>

        <div class="cards">

            <div class="card">
                <img src="images/drinks/drink1.png" alt="pie">
                <h3>Зеленый чай</h3>
            </div>

            <div class="card">
                <img src="images/drinks/drink2.png" alt="cake">
                <h3>Черный чай</h3>
            </div>

            <div class="card">
                <img src="images/drinks/drink3.png" alt="cake">
                <h3>Клубничный чай</h3>
            </div>

            <div class="card">
                <img src="images/drinks/drink4.png" alt="cake">
                <h3>Киба смузи</h3>
            </div>

            <div class="card">
                <img src="images/drinks/drink5.png" alt="cake">
                <h3>Яблочный шорле</h3>
            </div>

            <div class="card">
                <img src="images/drinks/drink6.png" alt="cake">
                <h3>Капучино</h3>
            </div>

            <div class="card">
                <img src="images/drinks/drink7.png" alt="cake">
                <h3>Spezi</h3>
            </div>

            <div class="card">
                <img src="images/drinks/drink8.png" alt="cake">
                <h3>Ревеневый сок</h3>
            </div>

            <div class="card">
                <img src="images/drinks/drink9.png" alt="cake">
                <h3>Газированная вода</h3>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container footer-grid">
        <div class="footer-brand">
            <div class="footer-logo">
                GT
            </div>
            <h2>Gluten Tag</h2>
            <p>
                Готовы ответить там,
                где вам удобно.
                Переходите в наши соц. сети.
            </p>
            <div class="socials">
                <a href="https:\\vk.com\glutenbakery">
                    VK
                </a>
                <a href="https:\\telegram.com\glutenbakery">
                    Telegram
                </a>
            </div>
        </div>
        <div class="footer-info">
            <h3>Контакты</h3>
            <p>📍 Казань, ул. Татарстан 24</p>
            <p>📞 +8 (800) 555-35-35</p>
            <p>✉ glutentag@gmail.com</p>
            <p>🕒 Ежедневно 08:00–22:00</p>
        </div>
        <div class="footer-links">
            <h3>Информация</h3>
            <a href="#">
                Условия пользования
            </a>
            <a href="#">
                Политика конфиденциальности
            </a>
            <a href="#">
                Бонусная программа
            </a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>
            © 2026 enki, hazzdtko & Mirga_ii.
            Все права защищены.
        </p>
    </div>
</footer>

</body>
</html>
