<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оплата</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header>
    <div class="container">
        <nav>
            <div class="logo">LOGO</div>
            <ul>
                <li><a href="index.html">О нас</a></li>
                <li><a href="products.html">Меню</a></li>
                <li><a href="login.html">Вход</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="auth-page">
    <div class="auth-box payment-box">
        <h1>Оплата</h1>
        <p class="payment-text">
            Заполните информацию ниже:
        </p>
        <form>
            <input type="text" placeholder="Страна">
            <input type="text" placeholder="Город">
            <input type="text" placeholder="Ваш домашний адрес">
            <p class="payment-text">
                Информация о карте:
            </p>
            <input type="text" placeholder="Номер карты">
            <div class="card-row">
                <input type="text" placeholder="MM/YY">
                <input type="text" placeholder="CVV">
            </div>
            <button type="submit">
                OK
            </button>
        </form>
    </div>
</div>

<footer>
    <div class="container footer-grid">
        <div class="footer-brand">
            <div class="footer-logo">
                GT
            </div>
            <h2>Gluten Tag</h2>
            <p>
                Готовы ответить там,
                где вам удобно.
                Переходите в наши соц. сети.
            </p>
            <div class="socials">
                <a href="https:\\vk.com\glutenbakery">
                    VK
                </a>
                <a href="https:\\telegram.com\glutenbakery">
                    Telegram
                </a>
            </div>
        </div>
        <div class="footer-info">
            <h3>Контакты</h3>
            <p>📍 Казань, ул. Татарстан 24</p>
            <p>📞 +8 (800) 555-35-35</p>
            <p>✉ glutentag@gmail.com</p>
            <p>🕒 Ежедневно 08:00–22:00</p>
        </div>
        <div class="footer-links">
            <h3>Информация</h3>
            <a href="#">
                Условия пользования
            </a>
            <a href="#">
                Политика конфиденциальности
            </a>
            <a href="#">
                Бонусная программа
            </a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>
            © 2026 enki, hazzdtko & Mirga_ii.
            Все права защищены.
        </p>
    </div>
</footer>

<!-- <script src="js/payment.js"></script> -->

</body>
</html>